<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
    <table
      mat-table
      matSort
      matSortActive="created"
      matSortDisableClear
      matSortDirection="desc"
    >
      <thead>
        <tr>
          <ng-container
            *ngIf="headerTemplateRef"
            [ngTemplateOutlet]="headerTemplateRef"
          >
          </ng-container>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of dataSource">
          <ng-container
            *ngIf="bodyTemplateRef"
            [ngTemplateOutlet]="bodyTemplateRef"
            [ngTemplateOutletContext]="{ $implicit: item }"
          >
          </ng-container>
        </tr>
        <tr *ngIf="!dataSource.length">
          <td>
            <p class="empty-table">{{ textEmpty }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
