

$cor-acerto: #26E055;
$background: #f5f6fa;

//conforme o prototipo
$primary-color: #3f51b5;
$secundary-color: #ff4081;

// Margins
$margin-desktop: 24px;
$margin-tablet: 20px;
$margin-phone: 16px;

// Fonts
$title-font: "Montserrat", sans-serif;
$body-font: 'Open Sans';
