@import "src/assets/theme/variaveis";

table {
  width: 100%;

  th {
    background-color: rgba($secundary-color, 0.3);
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  // background: rgba($secundary-color, 0.4);
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 1px 1px 24px;
  display: flex;
  flex-direction: column;

  p {
    margin: 2px;
    font-size: 1.8rem;
  }
}
