.header {
    justify-content: center;
}

.dollar-rate {
    display: flex;
    position: absolute;
    right: 12px;
    font-size: 1.2rem;
}

.phone {
    display: none;
}

@media (max-width: 479px) {
    .phone {
        display: block;
    }

    .screen {
        display: none;
    }
}