<h2 mat-dialog-title>Fluxo de caixa</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="produtoForm">
    <app-grid>
      <app-cell [col]="12" [colTablet]="8" [colPhone]="4">
        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="descricao" />
        </mat-form-field>
      </app-cell>
      <app-cell [col]="6" [colTablet]="4" [colPhone]="4">
        <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <input
            matInput
            formControlName="valor"
            currencyMask
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          />
        </mat-form-field>
      </app-cell>
      <app-cell [col]="6" [colTablet]="4" [colPhone]="4">
        <mat-form-field appearance="outline">
          <mat-label>Entrada/Saída</mat-label>
          <mat-select formControlName="tipo">
            <mat-option value="Entrada">Entrada</mat-option>
            <mat-option value="Saida">Saída</mat-option>
          </mat-select>
        </mat-form-field>
      </app-cell>
    </app-grid>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button [disabled]="!produtoForm.valid || !produtoForm.dirty" (click)="edit()">
    Salvar
  </button>
</mat-dialog-actions>
